= form_for @photo, :html => { :class => 'form-horizontal', :multipart => true } do |f|
  -if @photo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@photo.errors.count, "error")} prohibited this photo from being saved:"
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg

  %fieldset

    .control-group
      .control-label= f.label :name
      .controls
        .text_field= f.text_field :name



    .control-group
      .control-label= f.label :description
      .controls
        .text_area= f.text_area :description, :rows => 3

    .control-group
      .control-label= f.label :image
      .controls
        .file_field
          = image_tag(@photo.image_url(:thumbnail)) if @photo.image?
          = f.file_field :image
          =f.hidden_field :image_cache
        - if @photo.image?   
        .remove-image
        = f.check_box :remove_image
          Remove image

  
    .form-actions
      = f.submit 'Save', :class => 'btn btn-primary'

