%p#notice= notice

%p
  %b Name:
  = @photo.name
%p
  %b Description:
  = @photo.description
%p
  %b Image:
  = @photo.image

- if @photo.image?
  %p= image_tag(@photo.image_url(:thumbnail))


= link_to 'Edit', edit_photo_path(@photo)
\|
= link_to 'Back', photos_path
